.q-header__wrapper 
    padding-top: 73px
    margin-bottom: 28px

.q-header 
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    min-height: 542px
    width: 100%

    &__content 
        width: 100%
        display: flex
        // align-items: center
        box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25)
        border-radius: 5px
        background-color: #fff
        
    &__logo 
        padding-top: 14px
        padding-bottom: 14px
        padding-left: 32px
        padding-right: 29px
    
    &__nav 
        width: 100%
       
    &__menu 
        display: flex
        justify-content: space-between
        font-weight: 500
        font-size: 18px
        line-height: 22px
        padding-right: 15px

        &--item
            min-height: 74px
            max-width: 250px
            padding: 25px 7px 7px 30px
            color: #5B5B5B
            position: relative
            border-left: 1px solid #d5d5d5
            // overflow: hidden

        &--phone
            font-size: 13px
            padding-left: 68px
            span 
                color: #4C8567
                font-size: 25px
            
        &--phone,
        &--search,
        &--btn
            &::before
                content: ''
                width: 22px
                height: 22px
                position: absolute
                background-image: url("../img/icon_phone.svg")
                background-repeat: no-repeat
                background-size: cover
                background-position: center  
                top: 50%
                left: 28px
                transform: translateY(-50%)
                
        &--search
            &::before 
                background-image: url("../img/icon_search.svg")  
                top: 50%
                left: 29px

        &--btn
            padding-left: 59px
            &::before
                background-image: url("../img/icon_user.svg")  
                top: 50%
                left: 24px

        &--language
            max-width: 76px
            text-transform: uppercase
            font: inherit
            
            select
                border: none
                appearance: none


           
             
