.q-similar
    &__title
        font-weight: bold
        font-size: 28px
        line-height: 27px
        color: #FFFFFF
        padding-bottom: 30px

    &__wrapper
        background-color: #fff
    
    &__table
        width: 100%