section.q-similar
    .q-container
        .q-similar__title Похожая техника в Одессе
    .q-similar__wrapper
        .q-container
            table.q-similar__table
                tr.q-similar__table--row
                    th.q-similar__table--col фото
                    th.q-similar__table--col название
                    th.q-similar__table--col характеристики
                    th.q-similar__table--col стоимость заказа
                tr.q-similar__table--row
                    td.q-similar__table--col 
                        img.q-similar__table--img(src="img/table_img.jpg", alt="table_img")
                    td.q-similar__table--col 
                        p Автокран LIEBHERR LTM 1100
                    td.q-similar__table--col 
                        ul.q-similar__list
                            li.q-similar__list--item Грузоподъемность - 100 тонн
                            li.q-similar__list--item Вылет стрелы - 25 метров
                            li.q-similar__list--item Тип проходимости - колесный
                            li.q-similar__list--item Длина гуська - 3 метра
                    td.q-similar__table--col 
                        span 8000 грн / смена
                
                tr.q-similar__table--row
                    td.q-similar__table--col 
                        img.q-similar__table--img(src="img/table_img.jpg", alt="table_img")
                    td.q-similar__table--col 
                        p Автокран LIEBHERR LTM 1100
                    td.q-similar__table--col 
                        ul.q-similar__list
                            li.q-similar__list--item Грузоподъемность - 100 тонн
                            li.q-similar__list--item Вылет стрелы - 25 метров
                            li.q-similar__list--item Тип проходимости - колесный
                            li.q-similar__list--item Длина гуська - 3 метра
                    td.q-similar__table--col 
                        span 8000 грн / смена
                
                tr.q-similar__table--row
                    td.q-similar__table--col 
                        img.q-similar__table--img(src="img/table_img.jpg", alt="table_img")
                    td.q-similar__table--col 
                        p Автокран LIEBHERR LTM 1100
                    td.q-similar__table--col 
                        ul.q-similar__list
                            li.q-similar__list--item Грузоподъемность - 100 тонн
                            li.q-similar__list--item Вылет стрелы - 25 метров
                            li.q-similar__list--item Тип проходимости - колесный
                            li.q-similar__list--item Длина гуська - 3 метра
                    td.q-similar__table--col 
                        span 8000 грн / смена
                
                tr.q-similar__table--row
                    td.q-similar__table--col 
                        img.q-similar__table--img(src="img/table_img.jpg", alt="table_img")
                    td.q-similar__table--col 
                        p Автокран LIEBHERR LTM 1100
                    td.q-similar__table--col 
                        ul.q-similar__list
                            li.q-similar__list--item Грузоподъемность - 100 тонн
                            li.q-similar__list--item Вылет стрелы - 25 метров
                            li.q-similar__list--item Тип проходимости - колесный
                            li.q-similar__list--item Длина гуська - 3 метра
                    td.q-similar__table--col 
                        span 8000 грн / смена
                tr.q-similar__table--row
                    td.q-similar__table--col 
                        img.q-similar__table--img(src="img/table_img.jpg", alt="table_img")
                    td.q-similar__table--col 
                        p Автокран LIEBHERR LTM 1100
                    td.q-similar__table--col 
                        ul.q-similar__list
                            li.q-similar__list--item Грузоподъемность - 100 тонн
                            li.q-similar__list--item Вылет стрелы - 25 метров
                            li.q-similar__list--item Тип проходимости - колесный
                            li.q-similar__list--item Длина гуська - 3 метра
                    td.q-similar__table--col 
                        span 8000 грн / смена
                tr.q-similar__table--row
                    td.q-similar__table--col 
                        img.q-similar__table--img(src="img/table_img.jpg", alt="table_img")
                    td.q-similar__table--col 
                        p Автокран LIEBHERR LTM 1100
                    td.q-similar__table--col 
                        ul.q-similar__list
                            li.q-similar__list--item Грузоподъемность - 100 тонн
                            li.q-similar__list--item Вылет стрелы - 25 метров
                            li.q-similar__list--item Тип проходимости - колесный
                            li.q-similar__list--item Длина гуська - 3 метра
                    td.q-similar__table--col 
                        span 8000 грн / смена
                tr.q-similar__table--row
                    td.q-similar__table--col 
                        img.q-similar__table--img(src="img/table_img.jpg", alt="table_img")
                    td.q-similar__table--col 
                        p Автокран LIEBHERR LTM 1100
                    td.q-similar__table--col 
                        ul.q-similar__list
                            li.q-similar__list--item Грузоподъемность - 100 тонн
                            li.q-similar__list--item Вылет стрелы - 25 метров
                            li.q-similar__list--item Тип проходимости - колесный
                            li.q-similar__list--item Длина гуська - 3 метра
                    td.q-similar__table--col 
                        span 8000 грн / смена
                    
