
<!DOCTYPE html>

html(lang="ru")
  include components/head.pug
  

  // WRITE CODE HERE ===>
  
  // START SECTION HEADER ===>

  body
    include sections/header.pug
    main
      include sections/order-item.pug
      include sections/similar.pug

    include sections/footer.pug
    include components/scripts.pug
    
    



  // END CODE HERE <===

  








  
  

